html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing : inherit;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background-color: #3D348B;
    font-family: 'Roboto', sans-serif;
}

.main {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px;
}

.title {
    font-size: 64px;
    color: #3D348B;
}

.anime-table__caption {
    background-color: #3D348B;
    max-height: 64px;
}

.caption__text {
    margin: 16px 0;
    font-size: 32px;
    color: #fff;
}

.header__item {
    font-size: 18px;
    padding: 16px;
    border-right: 1px solid #3D348B;
}

.header__item--status {
    border-right: none;
}

.content__item {
    font-size: 16px;
    padding: 16px;
    text-align: center;
    border-top: 1px solid #3D348B;
}

.content__item--title {
    font-weight: bold;
    color: #3D348B;
}


