<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My anime list</title>
    <link th:href="@{/css/normalize.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main">
        <h1 class="title">MyAnimeList</h1>
        <table class="anime-table">
            <caption class="anime-table__caption">
                <p class="caption__text">
                ALL ANIMES</p>
            </caption>
            <thead class="anime-table__thead">
                <tr class="anime-table__header">
                    <th class="header__item">Anime Title</th>
                    <th class="header__item">Studio</th>
                    <th class="header__item">Premiered</th>
                    <th class="header__item">Episodes</th>
                    <th class="header__item header__item--status">Status</th>
                </tr>
            </thead>
            <tbody class="anime-table__body">
                <tr class="anime-table__content" th:each="anime: ${animes}">
                    <td class="content__item content__item--title" th:text="${anime.getTitle()}"></td>
                    <td class="content__item content__item--studio" th:text="${anime.getStudio()}"></td>
                    <td class="content__item content__item--premiered" th:text="${anime.getPremiered()}"></td>
                    <td class="content__item content__item--episodes" th:text="${anime.getEpisodes()}"></td>
                    <td class="content__item content__item--status content__item--status-js" th:text="${anime.getStatus()}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>